body {
    margin: 0;
    padding: 0;
    background-color: #fe8f8f;
}
div {
    overflow: hidden;
    box-sizing: border-box;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer-grid {
    position: relative;
    float: left;
    width: 33.3%;
    padding-bottom: 33.3%;
    border: 1px solid gray;
    background-color: #9cc;
}
.outer-square {
    position: absolute;
    left: 0;
    top: 0;
    width: 85%;
    height: 80%;
    background-color: #316b83;
    margin: 5%;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
}
.inner-grid {
    width: 33.3%;
    height: 33.3%;
    border: 1px solid red;
    display: table;
}
.inner-square-on {
    background-color: #1db9c3;
    line-height: 100%;
    font-size: 50px;
    font-weight: bold;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.inner-square {
    background-color: #7027a0;
    line-height: 100%;
    font-size: 50px;
    font-weight: bold;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
